<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News-Hub - Хаб Новин</title>
</head>
<body>
    <div>
        {% if category %}
            <h1>Add a Category to {{ category.name }}</h1>
            <form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text}}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="submit" value="Create Page" />
            </form>
        {% else %}
            Вы запрашиваете сраницу в несуществующей категории :(
        {% endif %}
    </div>
</body>
</html>